[submodule "xion"]
	path = xion
	url = https://github.com/burnt-labs/xion.git
	branch = main
[submodule "xion-dashboard-app"]
	path = xion-dashboard-app
	url = https://github.com/burnt-labs/xion-dashboard-app.git
	branch = chore/devnet
[submodule "xion-explorer"]
	path = xion-explorer
	url = https://github.com/burnt-labs/xion-explorer.git
	branch = chore/devnet
[submodule "xion-faucet"]
	path = xion-faucet
	url = https://github.com/burnt-labs/xion-faucet.git
	branch = chore/devnet
[submodule "xion-developer-portal"]
	path = xion-developer-portal
	url = https://github.com/burnt-labs/xion-developer-portal.git
	branch = chore/devnet
[submodule "xion-staking"]
	path = xion-staking
	url = https://github.com/burnt-labs/xion-staking.git
	branch = chore/devnet
[submodule "xion-assets"]
	path = xion-assets
	url = https://github.com/burnt-labs/xion-assets.git
	branch = chore/devnet
[submodule "xion-aa-api"]
	path = xion-aa-api
	url = https://github.com/burnt-labs/account-abstraction-api.git
	branch = chore/devnet
